/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.padding-card {
	padding: 1.6rem 2rem !important;
}

.card {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 0.5rem;
}

.card button {
	border-radius: 50px;
	background: -prefix-linear-gradient(left,#001CBD, #005);
	background: linear-gradient(to right, #001CBD, #005);
	text-transform: uppercase;
}

.text-card-blue {
	margin: 0 auto !important;
	color: #001CBD;
	font-size: 40px;
}

.card sup {
	top: -0.9rem;
	font-size: 45%;
}

.title-card {
	font-weight: normal;
	color: #808080;
	text-transform: uppercase;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2px;
}

.progress.progress-bar-primary.progress-xl {
	height: 2.5em;
	border-radius: 50px;
	background-color: #c9c9c9;
}

.progress .progress-bar{
	border-radius: 50px;
	background: -prefix-linear-gradient(left,#001CBD, #005);
	background: linear-gradient(to right, #001CBD, #005);
	font-size: 14px;
	text-align: left;
	padding-left: 15px;
}

.p-blue {
	color: #001CBD;
	font-weight: normal;
}

.p-violet {
	color: #632FE1;
	font-weight: normal;
}

.btn-progress {
	float: right;
	text-transform: initial !important;
	position: relative;
	top: 30%;
}

.card-nivel {
 padding-bottom: 9px !important;
}

.card-nivel sup {
	top: -0.8rem;
	font-size: 45%;
}

.card-nivel i {
	font-size: 1.7rem;
	margin-right: -7px;
}

.title-nivel {
	margin: 0 auto;
	padding: 0;
}

.padd-0 {
	padding: 0;
}

.m-nv-nm {
	margin: 45px auto 0
}

.fl-right {
	float: right;
}

.nv-title {
	text-transform: uppercase;
	color: #808080;
	font-weight: 500 !important;
	font-size: 22px !important;
	letter-spacing: 0.05rem;
}

.text-nivel {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	position: relative;
	right: 0;
}

.text-ventas {
	text-align: left;
	font-size: 12px;
	text-transform: initial;;
}
.padding-card-member {
	padding: 2rem !important;
}

.user-page-info > h6 {
	text-transform: uppercase;
	font-weight: 600;
	color: #808080;
	font-size: 16px;
}

.user-page-info > p {
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1rem;
}

span.font-small-3 {
	text-transform: uppercase;
	font-style: italic;
}

.semicircle,
.sidebar-avatar {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid transparent;
	background:
		linear-gradient(#fff,#fff) padding-box,
		linear-gradient(var(--v), #001CBD 65%, #CCD2F2 0) border-box,
		linear-gradient(to right, #CCD2F2 65%, #001CBD 0) border-box;
}

.sidebar-avatar {
	height: 120px;
	width: 120px;
}

.sidebar-avatar img {
	margin-top: 8px;
	border-radius: 50%;
}

.semicircle {
	width: 65px;
	height: 65px;
}

.container-avatar {
	text-align: center;
	border-radius: 50%;
	margin: 0 auto;
	white-space: nowrap;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 0.75rem;
}

.sidebar-data h5.title-card {
	text-align: center;
	margin-top: 30px;
}

.sidebar-data h2.name {
	text-transform: capitalize;
	color: #808080 !important;
}

.main-menu .main-menu-content {
	height: calc(100% - 22vh) !important;
}

.main-menu.menu-shadow {
	box-shadow: none;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
	width: 300px;
}

html body .content {
	margin-left: 300px;
}

.chip-sidebar {
	color: #001CBD;
	padding: 4px 10px;
	background-color: #CCD2F2;
	display: block;
	text-align: center;
	width: max-content;
	margin: 15px auto 20px;
}

.icon-sidebar {
	margin-bottom: 35px;
}

.icon-sidebar a {
	padding: 18px !important;
	border-radius: 50%;
	color: #001CBD !important;
	background-color: #CCD2F2;
	display: inline-flex !important;
	margin: 10px;
	cursor: pointer;
	width: 60px;
	height: 60px;
}

.icon-sidebar i {
	font-size: 1.6rem !important;
}

.icon-sidebar::before {
	content: none;
}

.header-navbar.floating-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.navigation li a i {
	color: #001CBD;
}

.card-header-t2 {
	position: absolute;
	margin-top: -15px;
	padding-right: 2.3rem;
}

a.icon-card-header-t2 i {
	font-size: 1.3rem;
  color: #808080;
}

.main-menu ul.navigation-main > li:first-child {
	margin-top: 1rem;
}

.navbar-header-t2 {
	width: 100% !important;
	text-align: right;
	padding: 6rem 1rem 0 1rem !important;
}

.ov-auto {
	height: 32rem;
}

.static,
.ov-auto {
	overflow-y: auto;
	scrollbar-color: rgb(170, 170, 170) rgba(220, 220, 220, 0.5);
  scrollbar-width: thin;
}

.static::-webkit-scrollbar,
.ov-auto::-webkit-scrollbar {
	-webkit-appearance: none;
}

.static::-webkit-scrollbar:vertical,
.ov-auto::-webkit-scrollbar:vertical {
	width:10px;
}

.static::-webkit-scrollbar-button:increment,
.static::-webkit-scrollbar-button,
.ov-auto::-webkit-scrollbar-button:increment,
.ov-auto::-webkit-scrollbar-button {
	display: none;
} 

.static::-webkit-scrollbar:horizontal,
.ov-auto::-webkit-scrollbar:horizontal {
	height: 10px;
}

.static::-webkit-scrollbar-thumb,
.ov-auto::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 20px;
	border: 2px solid #fff;
	border-bottom: 0;
	border-top: 0;
}

.static::-webkit-scrollbar-track,
.ov-auto::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #dcdcdc;
	border: 2px solid #fff;
}

.content-margin-t1 {
	margin-top: 0 !important;
}

@media (max-width: 1199.98px) {
	.content-margin-t1 {
		margin-top: 4rem !important;
	}
}

.active-option {
	background-color: #CCD2F2;
}

.main-menu.menu-light .navigation > li > ul {
	background: transparent;
}

.main-menu.menu-light .navigation > li.open > a,
.main-menu.menu-light .navigation > li.sidebar-group-active > a {
	background: transparent;
}