/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.padding-card {
	padding: 1.6rem 2rem !important;
}

.card {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 0.5rem;
}

.card button {
	border-radius: 50px;
	background: -prefix-linear-gradient(left,#001CBD, #005);
	background: linear-gradient(to right, #001CBD, #005);
	text-transform: uppercase;
}

.text-card-blue {
	margin: 0 auto !important;
	color: #001CBD;
	font-size: 40px;
}

.card sup {
	top: -0.9rem;
	font-size: 45%;
}

.title-card {
	font-weight: normal;
	color: #808080;
	text-transform: uppercase;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2px;
}

.progress.progress-bar-primary.progress-xl {
	height: 2.5em;
	border-radius: 50px;
	background-color: #c9c9c9;
}

.progress .progress-bar{
	border-radius: 50px;
	background: -prefix-linear-gradient(left,#001CBD, #005);
	background: linear-gradient(to right, #001CBD, #005);
	font-size: 14px;
	text-align: left;
	padding-left: 15px;
}

.p-blue {
	color: #001CBD;
	font-weight: normal;
}

.p-violet {
	color: #632FE1;
	font-weight: normal;
}

.btn-progress {
	float: right;
	text-transform: initial !important;
	position: relative;
	top: 30%;
}

.card-nivel {
 padding-bottom: 9px !important;
}

.card-nivel sup {
	top: -0.8rem;
	font-size: 45%;
}

.card-nivel i {
	font-size: 1.7rem;
	margin-right: -7px;
}

.title-nivel {
	margin: 0 auto;
	padding: 0;
}

.padd-0 {
	padding: 0;
}

.m-nv-nm {
	margin: 45px auto 0
}

.fl-right {
	float: right;
}

.nv-title {
	text-transform: uppercase;
	color: #808080;
	font-weight: 500 !important;
	font-size: 22px !important;
	letter-spacing: 0.05rem;
}

.text-nivel {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	position: relative;
	right: 0;
}

.text-ventas {
	text-align: left;
	font-size: 12px;
	text-transform: initial;;
}
.padding-card-member {
	padding: 2rem !important;
}

.user-page-info > h6 {
	text-transform: uppercase;
	font-weight: 600;
	color: #808080;
	font-size: 16px;
}

.user-page-info > p {
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1rem;
}

span.font-small-3 {
	text-transform: uppercase;
	font-style: italic;
}

.semicircle,
.sidebar-avatar {
	display: inline-block;
	border-radius: 50%;
	border: 2px solid transparent;
	background:
		linear-gradient(#fff,#fff) padding-box,
		linear-gradient(var(--v), #001CBD 65%, #CCD2F2 0) border-box,
		linear-gradient(to right, #CCD2F2 65%, #001CBD 0) border-box;
}

.sidebar-avatar {
	height: 120px;
	width: 120px;
}

.sidebar-avatar img {
	margin-top: 8px;
	border-radius: 50%;
}

.semicircle {
	width: 65px;
	height: 65px;
}

.container-avatar {
	text-align: center;
	border-radius: 50%;
	margin: 0 auto;
	white-space: nowrap;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 0.75rem;
}

.sidebar-data h5.title-card {
	text-align: center;
	margin-top: 30px;
}

.sidebar-data h2.name {
	text-transform: capitalize;
	color: #808080 !important;
}

.main-menu .main-menu-content {
	height: calc(100% - 22vh) !important;
}

.main-menu.menu-shadow {
	box-shadow: none;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

body.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
	width: 300px;
}

html body .content {
	margin-left: 300px;
}

.chip-sidebar {
	color: #001CBD;
	padding: 4px 10px;
	background-color: #CCD2F2;
	display: block;
	text-align: center;
	width: max-content;
	margin: 15px auto 20px;
}

.icon-sidebar {
	margin-bottom: 35px;
}

.icon-sidebar a {
	padding: 18px !important;
	border-radius: 50%;
	color: #001CBD !important;
	background-color: #CCD2F2;
	display: inline-flex !important;
	margin: 10px;
	cursor: pointer;
	width: 60px;
	height: 60px;
}

.icon-sidebar i {
	font-size: 1.6rem !important;
}

.icon-sidebar::before {
	content: none;
}

.header-navbar.floating-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.navigation li a i {
	color: #001CBD;
}

.card-header-t2 {
	position: absolute;
	margin-top: -15px;
	padding-right: 2.3rem;
}

a.icon-card-header-t2 i {
	font-size: 1.3rem;
  color: #808080;
}

.main-menu ul.navigation-main > li:first-child {
	margin-top: 1rem;
}

.navbar-header-t2 {
	width: 100% !important;
	text-align: right;
	padding: 6rem 1rem 0 1rem !important;
}

.ov-auto {
	height: 32rem;
}

.static,
.ov-auto {
	overflow-y: auto;
	scrollbar-color: rgb(170, 170, 170) rgba(220, 220, 220, 0.5);
  scrollbar-width: thin;
}

.static::-webkit-scrollbar,
.ov-auto::-webkit-scrollbar {
	-webkit-appearance: none;
}

.static::-webkit-scrollbar:vertical,
.ov-auto::-webkit-scrollbar:vertical {
	width:10px;
}

.static::-webkit-scrollbar-button:increment,
.static::-webkit-scrollbar-button,
.ov-auto::-webkit-scrollbar-button:increment,
.ov-auto::-webkit-scrollbar-button {
	display: none;
} 

.static::-webkit-scrollbar:horizontal,
.ov-auto::-webkit-scrollbar:horizontal {
	height: 10px;
}

.static::-webkit-scrollbar-thumb,
.ov-auto::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 20px;
	border: 2px solid #fff;
	border-bottom: 0;
	border-top: 0;
}

.static::-webkit-scrollbar-track,
.ov-auto::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #dcdcdc;
	border: 2px solid #fff;
}

.content-margin-t1 {
	margin-top: 0 !important;
}

@media (max-width: 1199.98px) {
	.content-margin-t1 {
		margin-top: 4rem !important;
	}
}

.active-option {
	background-color: #CCD2F2;
}

.main-menu.menu-light .navigation > li > ul {
	background: transparent;
}

.main-menu.menu-light .navigation > li.open > a,
.main-menu.menu-light .navigation > li.sidebar-group-active > a {
	background: transparent;
}

.subtitle-card {
	font-weight: 400;
  color: #808080;
}

.text-up {
	text-transform: uppercase;
}

.title-grand-t1 {
	letter-spacing: .4rem;
  text-align: center;
}

#tab_filter .form-control,
#mytable_filter .form-control {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23626262' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 175px 9px !important;
	width: 200px;
  padding: 1.2rem;
}

input[type="search" i]::-webkit-search-cancel-button {
	display: none;
}

.card-tab {
	border: none;
}

div#tab_filter.dataTables_filter,
div#mytable_filter.dataTables_filter {
	width: max-content;
	float: right;
	margin-bottom: 20px;
}

#tab_wrapper .dt-buttons.btn-group,
#mytable_wrapper .dt-buttons.btn-group {
	margin-bottom: 20px;
}

div#tab_filter.dataTables_filter label,
div#mytable_filter.dataTables_filter label {
	margin-top: 0;
}

table.dataTable thead tr {
	background: linear-gradient(to right, #001CBD, #005);
}

table.dataTable thead tr th {
	color: #fff;
	font-weight: 400;
}

table th:first-child{
  border-radius: 5px 0 0 5px;
}

table th:last-child{
  border-radius:0 5px 5px 0;
}

.form-control.form-control-sm::placeholder {
	font-size: 0.9rem;
}

table.dataTable.cell-border tbody tr:first-child th, 
table.dataTable.cell-border tbody tr:first-child td {
	border-top: none;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
	border-left: 1px solid #ddd;
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

table.dataTable {
	border: 1px solid #ddd;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.pagination .page-item.active .page-link {
	background: linear-gradient(to right, #001CBD, #005);
}

div.dataTables_wrapper button {
	width: 250px;
}

.h3-card-blue {
	font-weight: 800;
	color: #001CBD;
}

.p-card-border {
	border-radius: 5px;
	border: 1px solid rgba(34, 41, 47, 0.125);
	text-align: left;
	padding: 3px 15px;
	font-size: 15px;
}

.float-right {
	float: right !important;
}

.text-blue {
	font-size: .8rem;
	color: #3976D7 !important;
}

.btn-card {
	font-size: .9rem;
	padding-top: .7rem !important;
	padding-bottom: .7rem !important;
}

.btn-card > i {
	margin-right: 5px;
}

.card-shadow {
	box-shadow: 0 4px 18px 0 rgba(0, 0, 0, .5) !important;
	border: none !important;
	border-radius: 30px;
	margin-bottom: 0.5rem;
}

.img-card-t1 {
	width: 100%;
	height: 150px;
}

.img-card-t2 {
	width: 100%;
	height: 100%;
}

@supports(object-fit: cover){
	.img-card-t1 img,
	.img-card-t2 img {
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.card .p-tools {
	margin-bottom: 0;
	font-size: 0.8rem;
	line-height: 1.2rem;
	color: #001CBD;
}

.text-cap {
	text-transform: capitalize !important;
}

.px-ajust {
	padding-left: 2%;
	padding-right: 2%;
	margin: 0 3%;
}

.text-blu-t2 {
	color: #3976D7 !important;
	font-weight: 700;
}

.card-shadow-t2 {
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .5) !important;
	border: none !important;
	border-radius: 20px;
	border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.img-head-card {
	padding: 20px;
	border-radius: 50%;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .5) !important;
}

.img-head-card > img {
	border-radius: 50%;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, .5) !important;
}

.card-height-tools {
	min-height: 290px;
}

.mt-25- {
	margin-top: -25px;
}

.justify-center{
	justify-content: center;
}
